/* CSS những thành phần cấu hình chung */

:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --start-gold-color: #ffce3d;
    /* chiều cao của Header */
    --header-height: 120px;
    /* chiều cao của Navbar */
    --navbar-height: 34px;
    /*  */
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    /* inherit: kế thừa từ thẻ chứa nó */
    box-sizing: inherit;
}

html {
    /* mặc định 100% là 16px */
    /* 62.5% là hack, vidu lihe-height: 1.6rem = 16px, 1.2= 12px */
    font-size: 62.5%;
    line-height: 1.6rem;
    /* Poppins, Roboto là tên font chữ; 
        sans-serif là chủng chữ không có chân   */
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* chuẩn bị cho reponsive */

.gird {
    /* với màn hình có kích thước > 1200px thì k.thước tối đa chỉ là 1200px */
    width: 1200px;
    /* k.thước nhỏ hơn 1200px, giảm k.thước  grid = k.thước màn hình*/
    max-width: 100%;
    /* căn giũa khối này khi nằm trong khối khác */
    margin: 0 auto;
}

.gird__full-width {
    width: 100%;
}

.gird__row {
    /* nằm cùng trên 1 hàng ngang */
    display: flex;
    /* tổng độ dài các thg con vượt quá gird__row bị nhảy xuống hàng */
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


/* Test */

.gird__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.gird__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.gird__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-form));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    /*  */
    animation: fadeIn linear 0.1s;
}


/* tạo độ mờ */

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 1;
    margin: auto;
    /* position: relative; */
    z-index: 1;
    animation: growth linear 0.1s;
}


/* Button style*/

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}


/* thẻ có cả 2 class viết liền không cách  */

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.auth-form-socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}


/* Selection */

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input__lable {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgba(131, 131, 131);
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 14px 16px;
    list-style: none;
    display: none;
}

.select-input__item {}

.select-input__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 7px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}