/* CSS những thành phần riêng */

.header {
    height: var(--header-height);
    background-image: linear-gradient(#f6432e, #fe6332);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    position: relative;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--separate:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #f97869;
    height: 14px;
    right: -9px;
    top: 32%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-size: 1.4rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* Header QR code */

.header__qr {
    position: absolute;
    left: 0;
    /* 100% của thẻ chứa nó là thẻ li */
    top: 87%;
    width: 186px;
    background-color: var(--white-color);
    padding: 8px;
    border-radius: 2px;
    /* ẩn đi */
    display: none;
    animation: fadeIn ease-in .2s;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__qr::before {
    content: "";
    width: 100%;
    left: 0;
    height: 20px;
    position: absolute;
    display: block;
    top: -11px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-link:nth-child(3) {
    margin-top: 2px;
    margin-left: 11px;
}

.header__qr-download-img {
    height: 14px;
}


/* Header Notification */

.header__notify {
    position: absolute;
    top: 87%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    /* chọn được cái tâm hiển thị của transfrom */
    transform-origin: calc(100% - 20px) right;
    animation: headerNotifyGrowth ease-in 0.25s;
    display: none;
    /* thông báo cho trình duyệt các animation đã thay đổi */
    will-change: opacity, transform;
}


/* tạo mũi tên */

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    /* transparent là màu trong suốt */
    border-color: transparent transparent var(--white-color) transparent;
    right: 0;
    top: -29px;
    position: absolute;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -14px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        /* scale lớn lên từ từ */
        transform: scale(0)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    margin-top: 0;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 40px;
    /* không cho copy text */
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}


/* màu tin chưa đọc */

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08)
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    color: #666;
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    color: var(--black-color);
    font-size: 1.4rem;
    margin-bottom: 4px;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: justify;
}

.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    text-align: justify;
    color: #756F6E;
    line-height: 1.2rem
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    text-align: center;
}


/* <!-- Header language --> */

.icon-language {
    margin-left: 3px;
}

.header__navbar-item:hover .header__language {
    display: block;
}

.header__language {
    background-color: var(--white-color);
    display: flex;
    position: absolute;
    width: 140px;
    height: 59px;
    top: 87%;
    left: -55px;
    border-radius: 2px;
    display: none;
    animation: headerNotifyGrowth ease-in 0.25s;
    /* thông báo cho trình duyệt các animation đã thay đổi */
    will-change: opacity, transform;
}


/* tạo mũi tên */

.header__language::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    /* transparent là màu trong suốt */
    border-color: transparent transparent var(--white-color) transparent;
    right: 0;
    top: -29px;
    position: absolute;
}

.header__language-list {
    display: flex;
    flex-wrap: wrap;
}

.header__language-item {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color);
    margin: 5px 10px;
    line-height: 20px;
}

.header__language-item:hover {
    color: var(--primary-color);
}


/* Authen modal */

.auth-form {
    width: 500px;
    border-radius: 5px;
    /* khi thằng con vượt quá thg cha thì hidden ẩn đi*/
    overflow: hidden;
    background-color: var(--white-color);
}

.auto-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:hover {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}


/* 
.auth-form-socials {
    background: color #f5f5f5;
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
} */

.auth-form-socials-icon {
    font-size: 1.6rem;
}

.auth-form-socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form-socials--facebook .auth-form-socials-icon {
    color: var(--white-color);
}

.auth-form-socials-titel {
    margin: 0 28px;
}

.auth-form-socials--google {
    color: #666;
    background-color: var(--white-color);
}


/* Login form */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 20px;
    margin: 0 16px;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forget {
    color: var(--primary-color);
}


/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}


/* <!-- logo shopee --> */

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}


/*  <!-- header search --> */

.header__search {
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    position: relative;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
    padding: 0 16px;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #9e9d9d;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    outline: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #e57f6b;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
    cursor: pointer;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 120%;
    width: 128px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
}

.header__search-option::after {
    content: " ";
    display: block;
    width: 100%;
    height: 51px;
    position: absolute;
    /* background-color: red; */
    top: -42px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}


/* <!-- header cart --> */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 12px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-wrap-notice {
    top: -12px;
    right: -2px;
    position: absolute;
    padding: 1px 7px;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.header__cart-list {
    margin-top: 5px;
    position: absolute;
    top: calc(100% + 4px);
    right: -6px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in .2s;
    cursor: default;
    display: none;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color);
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}


/* <!-- Cart item --> */

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.header__cart-img {
    width: 46px;
    margin: 12px;
    height: 46px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    margin-right: 12px;
    width: 100%;
}

.header__cart-item-head {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 200px; */
    /* height: 56px; */
}

.header__cart-item-price-wrap {}

.heade__cart-item-price {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multipl {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quanlity {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    font-size: 1.3rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
}


/* Search history lịch sử tìm kiếm */


/*khi ấn vào thẻ input thì mới hiện ra search history
sử dụng  :focus */

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(202, 202, 202);
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 12px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header_search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.header_search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header_search-history-item:hover {
    background-color: #fafafa;
}

.header_search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}